.form-builder-container {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 20px;
}

.form-builder-container h2 {
  color: #ffd700; /* Yellow/orange color for headers */
  margin-bottom: 20px;
}

.question-container {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #fff; /* White border */
  position: relative;
}

.question-container::before {
  content: attr(data-question-number);
  position: absolute;
  top: -12px; /* Adjust as needed to position outside the border */
  left: 15px; /* Adjust alignment */
  background-color: #000;
  color: #ffd700; /* Yellow/orange color */
  font-weight: bold;
  padding: 0 8px;
  border-radius: 5px;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #fff; /* White text */
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #333; /* Dark gray background for inputs */
  color: #fff; /* White text for inputs */
  border: 1px solid #fff; /* White border */
}

.container {
  display: flex;
  align-items: center;
}

.container label {
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
  margin-top: -20px; /* Adjust as needed */
}

.options-count {
  padding: 8px;
  height: 40px;
  background: #333;
  width: 60px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px; /* Adjust font size for visual alignment */
}

.option-input {
  width: 100%;
  padding: 5px;
  color: #fff;
  margin-top: 5px;
}

.add-question-button {
  display: inline-block;
  margin-top: 15px;
  padding: 12px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  color: #ffd700;
  border: 1px dashed #ffd700;
}

.add-question-button:hover {
  background-color: #ffd700;
  color: #000;
}

.group {
  display: flex;
  gap: 10px;
}

.question-field {
  flex: 3; /* 75% width */
}

.type-field {
  flex: 1; /* 25% width */
}

.submit-button {
  padding: 10px 20px;
  background-color: #ffd700; /* Yellow/orange */
  color: #000; /* Black text */
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #ffa500; /* Darker orange on hover */
}
