.team-container {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px; /* Add padding for small screens */
  margin-top: 80px; /* Adjust for navbar height */
}

/* Header Section */
.team-header {
  background-color: transparent;
  position: absolute;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 100px; /* This will work with the default header size */
  justify-content: center;
  z-index: -1;
  
}
body {
  padding-top: 150px; /* Same as navbar height */
}

/* Specific to your headings container */
.events-header {
  margin-top: 20px; /* Extra margin to adjust spacing */
}

/* For headings directly */
.events-heading {
  padding-top: 5px; /* Add additional padding if needed */
}

