/* Nav.css */

body {
  margin: 0;
  background-color: black; /* Set the complete background to black */
  color: white; /* Set default text color to white */
  padding-top: 60px;
  overflow-x: hidden; /* Prevent content overlap with the fixed header */
}

header {
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  z-index: 1000;
}

.menu-toggle {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  position: relative;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 5px;
  transition: color 0.3s;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 15px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 30%;
  transform: translateX(-50%);
  transition: transform 0.3s, width 0.3s, opacity 0.3s;
  opacity: 0;
}

.nav a:hover {
  color: #fff;
}

.nav a:hover::after {
  transform: translateX(-50%) translateY(-5px);
  opacity: 1;
}

.nav a.active::after {
  width: 60%;
  height: 5px;
  background-color: #ababab;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-5px);
  opacity: 1;
}

.nav a.active {
  color: #ffc23c;
}

/* Responsive styling */
@media (max-width: 768px) {
  header {
    flex-direction: row; /* Ensure all items stay in one row */
    justify-content: space-between; /* Keep items spaced correctly */
  }

  .logo {
    flex: 1; /* Allow the logo to take up available space */
  }

  .menu-toggle {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ffd700;
    border-radius: 5px;
    margin-left: auto; /* Push the toggle to the far right */
  }

  .nav {
    display: none; /* Hide the nav links initially on mobile */
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }

  .nav.active {
    display: flex; /* Show the nav links when active */
  }

  .nav a {
    font-size: 1rem;
    padding: 10px;
    text-align: left;
  }

  /* Optional hover effect for menu icon */
  .menu-toggle:hover {
    background-color: #ffd700;
    color: black;
  }
}

/* Optional hover effect for menu icon */
.menu-toggle:hover {
  background-color: #ffd700;
  color: black;
}
